header {
    font-family: 'futura-pt-demi', sans-serif;
    background: transparent; /* Колір фону стрінки */
    color: #383a3a;
    width: 100%;
}


/*-------------------------------переписуємо стилі для bootstrap------------------------------------*/
.navbar-default {
    background: rgba(256, 256, 256, 0.7);
    border: none;
}


.navbar-brand {
    padding: 0;
    height: 56px;
}

.box-navigation {
    margin: 0 0 0 6%;
}

.box-navigation a{
    font-size: 13px;
    text-transform: uppercase;
    color: #383a3a;
}

.box-navigation >li a:active {
    border-bottom: 1px solid #ff887b;
    color: #ff887b !important;
}

.search-header .search-header-text { /*---відміняємо стилі у форми---*/
    background-color: transparent;
    color: #383a3a;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.search-header .search-header-send { /*---відміняємо стилі у форми---*/
    background-color: transparent;
    color: #383a3a;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin-left: -40px;
}

.bag {
    background: url("bg-image/header-bag.png") no-repeat center;
    width: 15px;
    height: 19px;
}


.order-count{
    width: 18px;
    height: 18px;
    color: #232323;
    font-size: 12px;
    background-color: #ff887b;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 18px;
    position: relative;
    bottom: -7px;
    right: -7px;
}